<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lawer.mrlawer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AccountActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ConversationActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".EditQuestionActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ChooseUserTypeActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".PickQuestionSetActivity"
            android:label="@string/app_name" />

        <service
            android:name="io.rong.push.PushService"
            android:process="io.rong.push"> <!-- Waring: The name of the push process can't be changed!!! -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.push" />
            </intent-filter>
        </service>
        <service
            android:name="io.rong.push.CommandService"
            android:process="io.rong.push"> <!-- Waring: The name of the push process can't be changed!!! -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="io.rong.command" />
            </intent-filter>
        </service>

        <service
            android:name="io.rong.imlib.ipc.RongService"
            android:process=":ipc"></service>
        <service android:name="io.rong.imlib.ReConnectService" />

        <receiver android:name="io.rong.imlib.ConnectChangeReceiver" />
        <receiver android:name="io.rong.imlib.ipc.PushMessageReceiver">
            <intent-filter>
                <action android:name="io.rong.push.message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="io.rong.imlib.HeartbeatReceiver"
            android:process=":ipc" />

        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="lmxuhwagxp65d" />

    </application>

</manifest>
